.fondo{
    background-image: url("../img/imagenfondo.jpg");
    background-size: cover;
}

.navbar-nav{
    padding-left: 100px;

}

.bg-light{
    background-color: white;

}


.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .9rem;
    padding-left: .8rem;
    
}


.navbar-nav{
    font-size: 1.7rem;
    font-weight: bolder;
}

.btn-outline-success {
    color: #a70000;
    border-color: #000000;
    font-family: cursive;
}

.btn {
    font-weight: 1000;
    font-size: 1.8rem;
}

.bg-white {
    background-color:black!important;
}

.shadow {
    font-weight: 900;
    color: #000000;
}

.container{
    background-color: white;
}



.btn-success {
    color: #fff;
    background-color: #00459f;
    border-color: #000000;
}

.navbar-brand{
    padding-left: 100px;
}

.navbar .navbar-expand-lg .navbar-light .bg-light{
    background-color: #000000;
}

.page-footer{
    background-color: #000000;
}

.body{
    color: white;
}

.container{
    background-color: black;
}



#carousel{
    padding-left: 0%!important;
    padding-right: 0%!important;
}


.container-fluid{
    color: #fff;
}
