
  #map {
        padding: 100px;
        height: 400px;
        width: 800px;
        align-content: center;
  }
  html, body {
    height: 100%;
    margin: o;
    padding: 0;
    align-content: center;
    
  }
