*{
    box-sizing:border-box ;
}

body{                                   /*tipo de letra body*/
    font-family: 'Domine', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1e1e1e;
}

a{
    color:#f40009;
    text-decoration: none;
    text-align: center;
    margin: 0 auto ;
}



   


.boton{                             /*botnes de color */
    padding: 10px 25px 10px 25px ;
    display: inline-block;
}

.boton.boton-blanco{
    background-color:red ;
    color:#ffffff
    
   
}

.boton.boton-rojo{
    background-color:white ;
    color:red}

                                /*cajas y formas*/
                                
.row{
    padding: 0 15px 0 15px;
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    justify-content: center;
   


    }


.columna{
    padding: 0 15px 0 15px;

}

.columna-33
{
    width: 33.33%;
}



.seccion{
    padding-top: 30px;
    margin-bottom: 18px;
}

.cuadrado-perfecto{
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}



/*///////////PARA CREAR LAS TRES CAJAS DE SERVICIOS de las tres fotos/////////*/

#servicios .bloque-servicio{
    border: 1px solid #CCC;

}

#servicios .bloque-servicio .bloque-img-servicio{
   
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    object-fit: cover;
    object-position: center;

}

#servicios .bloque-servicio .bloque-img-servicio img
{
   
    width: 100%;
    position: absolute;

}

#servicios .bloque-servicio .bloque-contenido-servicio
{
   
    padding: 15px 15px 15px 15px;

}

#servicios .bloque-servicio .bloque-contenido-servicio h2
{
   
    margin-top: 0;

}
#servicios .cuadrado-perfecto img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    opacity: .9;

}


@media screen and (max-width: 480px) {
    .columna-33  {
     width: 100%;
     padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
     
    }
  }
  @media screen and (max-width: 480px) {
     .cuadrado-perfecto {
     padding-left: 0%;
     padding-right: 0%;
     padding-bottom: 0%;
    }
  }
  @media screen and (max-width: 480px) {
    .row {
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
   }
 }
