<!DOCTYPE html>
<html lang="es">

<head>
    <title>Contáctenos</title>

    <link rel="stylesheet" href="css/mapstyle.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body>
    <!--Mapa de ubicación puntos de venta y usuario-->
    <div class="container-lg">
        <div class="flex-row ">
            <div class="col-12 d-flex justify-content-center">
                Nuestro puntos de venta
            </div>
            <div class="flex-row  ">
                <div class="col-12 ">
                    <div class="container" id="map"></div>
                </div>

            </div>
        </div>
    </div>
    <!--Formulario de contactenos-->

    <div class="container" id="contact-form">
        <form class="needs-validation" novalidate>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationCustom01">Nombres</label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Nombres" name="contact_number" required>
                    <div class="valid-feedback">
                        Campo diligenciado.
                    </div>
                    <div class="invalid-feedback">
                        Ingresa el nombre.
                    </div>
                   
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationCustom02">Apellidos</label>
                    <input type="text" class="form-control" id="validationCustom02" placeholder="Apellidos" required>
                    <div class="valid-feedback">
                        Campo diligenciado.
                    </div>
                    <div class="invalid-feedback">
                        Ingresa el apellido.
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationCustom01">Correo</label>
                    <input type="email" class="form-control" id="validationCustom03" placeholder="Ingrese su correo"  name="user_name" required>
                    <div class="valid-feedback">
                        Campo diligenciado.
                    </div>
                    <div class="invalid-feedback">
                        Ingresa el correo.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationCustom02">Asunto</label>
                    <input type="text" class="form-control" id="validationCustom04" placeholder="Asunto del mensaje"  v-model="subject" required>
                    <div class="valid-feedback">
                        Campo diligenciado.
                    </div>
                    <div class="invalid-feedback">
                        Ingresa el asunto.
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationCustom05">Departamento</label>
                    <input type="text" class="form-control" id="departamentos" placeholder="Departamento" required>
                    <div class="invalid-feedback">
                        Ingresa el nombre del departamento.
                    </div>
                    <div class="valid-feedback">
                        Campo diligenciado.
                    </div>
                </div>
                

                <div class="col-md-3 mb-3">
                    <label for="validationCustom06">Ciudad</label>
                    <input type="text" class="form-control" id="municipios" placeholder="Ciudad" required>
                    <div class="invalid-feedback">
                        Debe seleccionar una ciudad para poder continuar.
                    </div>
                    <div class="valid-feedback">
                        Campo diligenciado.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom07">Teléfono</label>
                    <input type="number" class="form-control" id="validationCustom05" required>
                    <div class="invalid-feedback">
                        Ingrese un teléfono de contacto.
                    </div>
                    <div class="valid-feedback">
                        Campo diligenciado.
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="validationTextarea">Textarea</label>
                    <textarea class="form-control" id="validationCustom07" placeholder="Deja tu mensaje aquí" v-model="message"
                        required></textarea>
                    <div class="invalid-feedback">
                        Por favor deja tu mensaje, gracias...
                    </div>
                    <div class="valid-feedback">
                        Campo diligenciado.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">
                        <a class="card-link" data-toggle="modal" href="#myModal" id="myBtn">Acepto terminos y
                            condiciones</a>

                    </label>
                    <div class="invalid-feedback">
                        Debes aceptar terminos y condiciones.
                    </div>
                </div>
            </div>
            <button @click="enviar" class="btn btn-success"class="btn btn-primary" type="submit" >Enviar</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
                role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Terminos y condiciones</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            El presente Política de Privacidad establece los términos en que usa y protege la
                            información que es proporcionada por sus usuarios al momento de utilizar su sitio web. Esta
                            compañía está comprometida con la seguridad de los datos de sus usuarios. Cuando le pedimos
                            llenar los campos de información personal con la cual usted pueda ser identificado, lo
                            hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento. Sin
                            embargo esta Política de Privacidad puede cambiar con el tiempo o ser actualizada por lo que
                            le recomendamos y enfatizamos revisar continuamente esta página para asegurarse que está de
                            acuerdo con dichos cambios.

                            Información que es recogida

                            Nuestro sitio web podrá recoger información personal por ejemplo: Nombre, información de
                            contacto como su dirección de correo electrónica e información demográfica. Así mismo cuando
                            sea necesario podrá ser requerida información específica para procesar algún pedido o
                            realizar una entrega o facturación.

                            Uso de la información recogida

                            Nuestro sitio web emplea la información con el fin de proporcionar el mejor servicio
                            posible, particularmente para mantener un registro de usuarios, de pedidos en caso que
                            aplique, y mejorar nuestros productos y servicios. Es posible que sean enviados correos
                            electrónicos periódicamente a través de nuestro sitio con ofertas especiales, nuevos
                            productos y otra información publicitaria que consideremos relevante para usted o que pueda
                            brindarle algún beneficio, estos correos electrónicos serán enviados a la dirección que
                            usted proporcione y podrán ser cancelados en cualquier momento.

                            está altamente comprometido para cumplir con el compromiso de mantener su información
                            segura. Usamos los sistemas más avanzados y los actualizamos constantemente para asegurarnos
                            que no exista ningún acceso no autorizado.

                            Cookies

                            Una cookie se refiere a un fichero que es enviado con la finalidad de solicitar permiso para
                            almacenarse en su ordenador, al aceptar dicho fichero se crea y la cookie sirve entonces
                            para tener información respecto al tráfico web, y también facilita las futuras recurrente.
                            Otra función que tienen las cookies es que con ellas las web pueden reconocerte
                            individualmente y por tanto brindarte el mejor servicio personalizado de su web.

                            Nuestro sitio web emplea las cookies para poder identificar las páginas que son visitadas y
                            su frecuencia. Esta información es empleada únicamente para análisis estadístico y después
                            la información se elimina de forma permanente. Usted puede eliminar las cookies en cualquier
                            momento desde su ordenador. Sin embargo las cookies ayudan a proporcionar un mejor servicio
                            de los sitios web, estás no dan acceso a información de su ordenador ni de usted, a menos de
                            que usted así lo quiera y la proporcione directamente. Usted puede aceptar o negar el uso de
                            cookies, sin embargo la mayoría de navegadores aceptan cookies automáticamente pues sirve
                            para tener un mejor servicio web. También usted puede cambiar la configuración de su
                            ordenador para declinar las cookies. Si se declinan es posible que no pueda utilizar algunos
                            de nuestros servicios.

                            Enlaces a Terceros

                            Este sitio web pudiera contener en laces a otros sitios que pudieran ser de su interés. Una
                            vez que usted de clic en estos enlaces y abandone nuestra página, ya no tenemos control
                            sobre al sitio al que es redirigido y por lo tanto no somos responsables de los términos o
                            privacidad ni de la protección de sus datos en esos otros sitios terceros. Dichos sitios
                            están sujetos a sus propias políticas de privacidad por lo cual es recomendable que los
                            consulte para confirmar que usted está de acuerdo con estas.

                            Control de su información personal

                            En cualquier momento usted puede restringir la recopilación o el uso de la información
                            personal que es proporcionada a nuestro sitio web. Cada vez que se le solicite rellenar un
                            formulario, como el de alta de usuario, puede marcar o desmarcar la opción de recibir
                            información por correo electrónico. En caso de que haya marcado la opción de recibir nuestro
                            boletín o publicidad usted puede cancelarla en cualquier momento.

                            Esta compañía no venderá, cederá ni distribuirá la información personal que es recopilada
                            sin su consentimiento, salvo que sea requerido por un juez con un orden judicial.

                            Se reserva el derecho de cambiar los términos de la presente Política de Privacidad en
                            cualquier momento.

                            Estas terminos y condiciones se han generado en
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
  
    <!--envio de formulario a correo con el siguiente script-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.4.1/dist/email.min.js"></script>
    <!---->
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="js/apiMaps.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBU0gyyTbJbpBI3lfXzAUtFpWCRpYozZ2Y&callback=initMap">
        </script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>